= form_for @newsletter do |f|
  = render "shared/errors", object: @newsletter
  .field
    = f.label :title, "Titulo"
    = f.text_field :title
  .field
    = f.label :text, "Texto"
    = f.text_field :text
  .field
    = f.label :url, "Dirección web"
    = f.text_field :url
  .actions
    = f.submit "Guardar"
