= render 'shared/admin_menu'

.container
  .row
    .col-xs-12
      %h1 Listado de Comunicados de Prensa

      %table.table
        %tr
          %th Titulo
          %th Texto
          %th Foto
          %th

        - @newsletters.each do |newsletter|
          %tr
            %td= newsletter.title
            %td= newsletter.text
            %td= image_tag newsletter.foto.url(:thumb) if newsletter.foto?
            %td= link_to 'Editar', edit_newsletter_path(newsletter)
            %td= link_to "Borrar", newsletter_path(newsletter), method: :delete, data: {confirm: "Estas segura de queres borralo"}


      %br

    = link_to 'Nueva Articulo Prensa', new_newsletter_path
