= form_for @user do |f|
  = render "shared/errors", object: @user
  .field
    = f.label :email
    = f.text_field :email
  .field
    = f.label :password, "Contraseña"
    = f.password_field :password
  .actions
    = f.submit "Guardar"
