= render 'shared/admin_menu'

.container
  .admin_users
    %h1 Usuarios

    %table.table
      %tr
        %th Email
        %th Password
        %th
        %th
        %th

      - @users.each do |user|
        %tr
          %td= user.email
          %td= user.password
          %td= link_to 'Show',  user
          %td= link_to 'Edit', edit_user_path(user)
          %td= link_to 'Destroy',  user, :method => :delete, :data => { :confirm => '¿ Estas seguro de querer borrarlo ?' }

    %br

    = link_to 'Nuevo Usuario', new_user_path, class: "admin_link"