.container-fluid
  - if login?
    = render 'shared/admin_menu'

  .home_image.text-center
    .main_box
      .logo
        = image_tag('big_logo.png')
      .square
        %h3 MADRID
        .line
        %p 2014
    .animation_container
      .scroll_down
        %p scroll down
        = image_tag('scroll_down.png')
  .servicios.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Servicios
    .row
      .pictures.clearfix
        .col-xs-3
          %figure
            = image_tag('eventos.jpg')
            %figcaption
              %h3= link_to "Eventos", event_pictures_path
              %p Nos esforzamos para entregarle la mejor presentación en sus eventos
        .col-xs-3
          %figure
            = image_tag('bodas.jpg')
            %figcaption
              %h3= link_to "Bodas", wedding_pictures_path
              %p Para que una boda sea perfecta hasta al más minimo detalle debe estar cuidado

        .col-xs-3
          %figure
            = image_tag('coronas.jpg')
            %figcaption
              %h3= link_to "Coronas", crown_pictures_path
              %p Pequeños accesorios que daran una gran presencia en sus fiestas y reuniones
        .col-xs-3
          %figure
            = image_tag('centros.jpg')
            %figcaption
              %h3= link_to "Centros", center_pictures_path
              %p Cautive a sus invitados con adornos tan elegantes, que no querran hablar de otra cosa
    .row
      .col-xs-12
        .prensa
          #layerslider{style:"width: 100%; height: 100px;"}
            - @newsletters.each do |newsletter|
              .ls-slide
                .ls-l
                  %h3.title
                    = newsletter.title
                  = link_to newsletter.text, newsletter.url, { class: "content",target: '_blank'}
  .us.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Nosotros
    .relative-wrapper
      .us_image
        .us_info
          %p Su fundadora, Lucía Navas, tras 4 años trabajando en el mundo de la comunicación y su formación floral en una escuela inglesa, apuesta por crear esta empresa dedicada a la decoración floral.
          %p Una combinación perfecta para  ofrecer  la máxima creatividad y originalidad en sus creaciones, junto con una exquisita atención a sus clientes.
          %p Asesoramos y decoramos con flores bodas especiales, eventos y empresas que quieran un toque diferente. Trabajamos la flor natural, seca y preservada.
          %p En El Taller de Lucía creamos arreglos florales con encanto para momentos especiales ofreciendo un trato personalizado, cuidando al máximo cada detalle.
          = image_tag('decorative_lines.png')
  .contact.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Contacta
    .relative-wrapper
      .contact_image
        .contact_info
          %p Si quieres conocerme:
          %p
            %span.email
              = image_tag("email.png")
            Escríbenos al
            = mail_to "info@eltallerdelucia.es", "El Taller de Lucia"
          %p
            %span.phone
              = image_tag("phone.png")
            Llámanos al 661348190
          .social-media
            .facebook
            %p Facebook

