.container-fluid
  - if login?
    .admin_menu.text-center
      %ul.clearfix
        %li
          = link_to "Fotos", pictures_path
        %li
          = link_to "Prensa", newsletters_path
        %li
          = link_to "Usuarios", users_path
        %li
          = link_to "Desconectar", logout_path, method: :delete, data:{confirm: "Esta segura de querer desconectarte"}
  - flash.each do |type, msg|
    %p.text-center{class: type}
      = msg


  .home_image.text-center
    .main_box
      .logo
        = image_tag('big_logo.png')
      .square
        %h3 MADRID
        .line
        %p 2014
    .animation_container
      .scroll_down
        %p scroll down
        = image_tag('scroll_down.png')
  .servicios.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Servicios
    .row
      .pictures.clearfix
        .col-xs-3
          %figure
            = image_tag('eventos.jpg')
            %figcaption
              %h3 Eventos
              %p Nos esforzamos para entregarle la mejor presentación en sus eventos
              = link_to "+", event_pictures_path
        .col-xs-3
          %figure
            = image_tag('bodas.jpg')
            %figcaption
              %h3 Bodas
              %p Para que una boda sea perfecta hasta al más minimo detalle debe estar cuidado
              = link_to "+", wedding_pictures_path

        .col-xs-3
          %figure
            = image_tag('coronas.jpg')
            %figcaption
              %h3 Coronas
              %p Pequeños accesorios que daran una gran presencia en sus fiestas y reuniones
              = link_to "+", crown_pictures_path
        .col-xs-3
          %figure
            = image_tag('centros.jpg')
            %figcaption
              %h3 Centros
              %p Cautive a sus invitados con adornos tan elegantes, que no querran hablar de otra cosa
              = link_to "+", center_pictures_path
    .row
      .col-xs-12
        .prensa
          #layerslider{style:"width: 100%; height: 100px;"}
            - @newsletters.each do |newsletter|
              .ls-slide
                .ls-l
                  %h3.title
                    = newsletter.title
                  = link_to newsletter.text, newsletter.url, class: "content"
  .contact.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Contacta
    .relative-wrapper
      .contact_image
        .contact_info
          %p Si quieres conocerme:
          %p
            %span.email
              = image_tag("email.png")
            Escríbenos al
            = mail_to "info@eltallerdelucia.es", "El Taller de Lucia"
          %p
            %span.phone
              = image_tag("phone.png")
            Llámanos al 661348190
