.container-fluid
  - if login?
    = render 'shared/admin_menu'

  .home_image.text-center
    .main_box
      .logo
        = image_tag('big_logo.png')
      .square
        %h3 MADRID
        .line
        %p== #{Time.now.year}
    .animation_container
      .scroll_down
        %p scroll down
        = image_tag('scroll_down.png')
  .servicios.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Servicios
    .row
      .pictures.clearfix
        .col-xs-3
          %figure
            = image_tag('eventos.jpg')
            %figcaption
              %h3= link_to "Eventos", event_pictures_path
              %p Nos encargamos de la decoración floral para que tu evento sea inolvidable.
        .col-xs-3
          %figure
            = image_tag('bodas.jpg')
            %figcaption
              %h3= link_to "Bodas", wedding_pictures_path
              %p Diseñamos, te asesoramos y os ayudamos a definir el estilo para que tu boda sea única y especial.

        .col-xs-3
          %figure
            = image_tag('coronas.jpg')
            %figcaption
              %h3= link_to "Coronas", crown_pictures_path
              %p Realizamos coronas de flor natural y flores liofilizadas en distintos tamaños.
        .col-xs-3
          %figure
            = image_tag('centros.jpg')
            %figcaption
              %h3= link_to "Centros", center_pictures_path
              %p Creamos centros de flor natural, seca o liofilizada y también trabajamos con plantas de temporada.
  .prensa.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Prensa
    .row
      .col-xs-12
        .prensa_slider
          #layerslider{style:"width: 100%; height: 100px;"}
            - @newsletters.each do |newsletter|
              .ls-slide
                .ls-l
                  %h3.title
                    = newsletter.title
                  = link_to newsletter.text, newsletter.url, { class: "content",target: '_blank'}
  .us.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Nosotros
    .relative-wrapper
      .us_image
        .us_info
          %p Su fundadora, Lucía Navas, tras 4 años trabajando en el mundo de la comunicación y su formación floral en una escuela inglesa, apuesta por crear esta empresa dedicada a la decoración floral.
          %p Una combinación perfecta para  ofrecer  la máxima creatividad y originalidad en sus creaciones, junto con una exquisita atención a sus clientes.
          %p Asesoramos y decoramos con flores bodas especiales, eventos y empresas que quieran un toque diferente. Trabajamos la flor natural, seca y preservada.
          %p En El Taller de Lucía creamos arreglos florales con encanto para momentos especiales ofreciendo un trato personalizado, cuidando al máximo cada detalle.
          = image_tag('decorative_lines.png')
  .contact.text-center
    .small_logo
      = image_tag('small_logo.png')
    %h1.sub_title Contacta
    .relative-wrapper
      .contact_image
        .contact_info
          %p El Taller de Lucía trabaja por encargo ofreciendo todos los servicios de decoración floral para tu evento, boda o empresa.
          %p
            Para ponerte en contacto con nosotros, pedir información o realizar tu pedido escríbenos un email a:
            = mail_to "info@eltallerdelucia.es", "El Taller de Lucia", class: 'transition'
          %p
            o llámanos a: 661348190
          .social-media.clearfix
            .facebook.animated
              %a{href:'https://Facebook.com/eltallerdelucia.es', target: '_blank'}
                b
            .instagram.animated
              %a{href:'https://instagram.com/eltallerdelucia', target: '_blank'}
                x

