= form_for @picture do |f|
  = render "shared/errors", object: @picture
  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :description
    = f.text_field :description
  .field
    = f.label :category
    = f.select :category, Picture::CATEGORIES
  .field
    = f.label :foto,  @picture.foto.original_filename ? "Foto (#{@picture.foto.original_filename})" : 'Foto'
    = f.file_field :foto
  .field
    = f.label :show, "Visible"
    = f.check_box :show
  .action
    = f.submit "Guardar"
